<div class="items">

<h1> What do we need to buy? </h1>

  <%= simple_form_for @item do |i| %>
  <%= i.input :thing %>
  <%= i.input :amount %>
  <br />
  <%= i.submit 'Add!', class:"btn btn-primary"%>
  <%end%>

  </div>

  


